
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<table>
    <tr><td><input type="text" placeholder="Username" /></td></tr>
    <tr><td><input type="password" placeholder="Password" /></td></tr>
    <tr><td><a href="/Home/loginsubmit" class="btn btn-primary">Login</a></td></tr>
</table>
