
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
<table>
    <tr><td><input type="text" placeholder="Username" /></td></tr>
    <tr><td><input type="number" placeholder="Age" /></td></tr>
    <tr><td><input type="text" placeholder="Address" /></td></tr>
    <tr><td><input type="password" placeholder="Password" /></td></tr>
    <tr><td><a href="" class="btn btn-primary">Login</a></td></tr>
</table>


