
@{
    ViewBag.Title = "Orderdetails";
}

<h2>Orderdetails</h2>
<table class="table table-bordered">
    <tr>
        <th>Order ID</th>
        <th>Order Date</th>
    </tr>
  
    <tr>
        <td>@Model.id</td>
        <td>@Model.order_date</td>
    </tr>
</table>

