
@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>
<table class="table table-bordered">
    <tr>
        <th>Order ID</th>
        <th>Order Date</th>
    </tr>

    <tr>
        <td>@Model.p_name</td>
        <td>@Model.p_categoryid</td>
    </tr>
</table>

